@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
body{
    background-color: brown;
    text-align: center;
 }
 p{
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
}
h1{
    color: azure;
    font-family: 'Quicksand', sans-serif;
}
h2{
    color: azure;
    font-family: 'Quicksand', sans-serif;
}
h3{
    color: azure;
    font-family: 'Quicksand', sans-serif;
}